{% extends './base.html' %}

{% block title %} Correcciones Activas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <!-- Mostrar mensajes flash -->
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <h1>Correcciones activas</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Listas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for grupo in correcciones %}
                    <tr>
                        {% if not grupo.evaluado() %}
                            <td>{{ loop.index }}</td>
                            <td>{{ grupo.nombre }}</td>
                            <td>
                                {% if grupo.listas %}
                                    <ul>
                                        {% for lista in grupo.listas %}
                                            <li>
                                                {% if not lista.evaluado %}
                                                    <a href="{{ url_for('abrir_correcion', lista_titulo=lista.titulo, grupo_nombre=grupo.nombre)}}">
                                                        {{ lista.titulo }}
                                                    </a>
                                                {%else%}
                                                {{ lista.titulo }} (Corregido por: {{lista.corrector}})
                                                {%endif%}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <em>No hay listas</em>
                                {% endif %}
                            </td>
                            <td>
                                <input type="checkbox" name="correccion" value="{{ grupo.nombre }}"> 
                            </td>
                        {%endif%}
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <a href="{{ url_for('abrir_cuestionario') }}" class="btn btn-primary">Añadir Corrección</a>
        <button class="btn btn-primary" onclick="eliminarCorrecciones()">Eliminar Correcciones Seleccionadas</button>
    </div>
</div>

<script>
    function eliminarCorrecciones() {
        const checkboxes = document.querySelectorAll('input[name="correccion"]:checked');
        const seleccionados = Array.from(checkboxes).map(cb => cb.value);

        if (seleccionados.length === 0) {
            alert("No se han seleccionado correcciones");
            return;
        }
        const url = `{{ url_for('eliminar_correcciones_activas', correcciones='') }}${encodeURIComponent(seleccionados.join(','))}`;
        window.location.href = url;
        // Opcional: Redirigir al servidor para generar el informe de las correcciones seleccionadas
        // const url = `/procesar_seleccion?correcciones=${encodeURIComponent(seleccionados.join(','))}&tipo=${tipo}`;
        // window.location.href = url;
    }
</script>
{% endblock %}
