{% extends './base.html' %}

{% block title%} Index {% endblock %}

{% block body %}
<h1 style="text-align: center;">Bienvenido, {{ current_user.usuario }}</h1>

<p style="margin-top: 30px;">
    <h4>En la parte superior encontrarás unas pestañas:</h4>
</p>

<section style="margin-top: 20px;">
    <h2><u>Correcciones</u></h2>
    <p>
        <h4>En esta pestaña se encuentran las tareas que todavía tienen que corregirse:</h4>
    </p>
    <ul style="font-size: 1.1rem; line-height: 1.6;">
        <li>
            Si en una tarea aparece un texto que pone <strong>CorrectorX</strong>, la tarea tiene una corrección pública; cualquiera puede corregirla.
        </li>
        <li>
            Si aparece un texto con un <strong>nombre de usuario</strong>, esa tarea solo puede corregirla el usuario con ese nombre.
        </li>
    </ul>
</section>

<section style="margin-top: 20px;">
    <h2><u>Resultados</u></h2>
    <p>
        <h4>En esta pestaña se encuentran las tareas que ya se han corregido. Si pulsas una de las tareas, se descargará un informe en el formato que indiques en el desplegable (PDF o Excel).</h4>
    </p>
</section>




{% endblock %}