{% extends './base.html' %}

{% block title %} Correcciones Terminadas {% endblock %}

{% block body %}
<h1>Pulsa en cualquier corrección para descargar su informe de resultados.</h1>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Correcciones finalizadas</h1>
            <label for="opciones">Selecciona como quieres excportar el informe de la corrección:</label>
            <select id="opciones" name="opciones">
                <option value="pdf">PDF</option>
                <option value="excel">Excel</option>
            </select>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <td>
                    <tbody>
                        {% for grupo in correcciones %}
                        <tr>
                            {% if grupo.evaluado() %}
                                <td>{{ loop.index }}</td>
                                <td>
                                    <a href="javascript:void(0);" onclick="descargarInforme('{{ grupo.nombre }}')">
                                        {{ grupo.nombre }}
                                    </a>
                                </td>
                                <td>
                                    <input type="checkbox" name="correccion" value="{{ grupo.nombre }}"> 
                                </td>
                            {%endif%}
                        </tr>
                        {% endfor %}
                    </tbody>
                </td>    
            </table>
        </div>
        <button class="btn btn-primary" onclick="eliminarCorrecciones()">Eliminar Correcciones Seleccionadas</button>
    </div>
</div>
<!-- Script para gestionar el tipo de exportación -->
<script>
    function descargarInforme(grupoNombre) {
        const tipo = document.getElementById('opciones').value;
        const url = `{{ url_for('descargar_informe', grupo_nombre='') }}${grupoNombre}&tipo=${tipo}`;
        window.location.href = url;
    }
</script>
<script>
    function eliminarCorrecciones() {
        const checkboxes = document.querySelectorAll('input[name="correccion"]:checked');
        const seleccionados = Array.from(checkboxes).map(cb => cb.value);

        if (seleccionados.length === 0) {
            alert("No se han seleccionado correcciones");
            return;
        }
        const url = `{{ url_for('eliminar_correcciones_resultados', correcciones='') }}${encodeURIComponent(seleccionados.join(','))}`;
        window.location.href = url;
        // Opcional: Redirigir al servidor para generar el informe de las correcciones seleccionadas
        // const url = `/procesar_seleccion?correcciones=${encodeURIComponent(seleccionados.join(','))}&tipo=${tipo}`;
        // window.location.href = url;
    }
</script>
{% endblock %}
